<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.portfolioservice.mapper.AssetMapper">

    <select id="getAsset" resultType="HoldingsDto" parameterType="long">
        SELECT H.holdings_id as holdingsId, H.amount as amount, H.detail_type as detailType, A.TYPE as assetType
        FROM HOLDINGS H, ASSET_TYPE A
        WHERE H.user_id = #{userId} AND H.asset_type_id = A.asset_type_id
    </select>

</mapper>