<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.portfolioservice.mapper.PortfolioMapper">

	<resultMap id="portfolioResult" type="PortfolioDto">
		<id property="portfolio_id" column="portfolio_id" />
		<result property="invest_type" column="invest_type" />
		<result property="target_price" column="target_price" />
		<result property="create_at" column="create_at" />
		<result property="target_period" column="target_period" />
		<result property="user_id" column="user_id" />
		<collection property="details" column="portfolio_id" javaType="java.util.ArrayList" ofType="PortfolioDetailDto">
			<id property="portfolio_detail_id" column="portfolio_detail_id" />
			<!-- <result property="portfolio_detail_id" column="portfolio_detail_id"/> -->
			<result property="percentage" column="percentage" />
			<result property="type" column="type" />
		</collection>
	</resultMap>

	<resultMap id="assetResult" type="UserDto">
	    <result property="user_id" column="'USER_ID" />
	    <result property="age" column="AGE" />
	    <result property="name" column="NAME" />
	    <result property="salary" column="SALARY" />
	    <result property="amount" column="AMOUNT" />
	    <result property="assetType" column="ASSET_TYPE" />
	  
	</resultMap>
	<select id="findByUserId" parameterType="long" resultMap="portfolioResult">
		SELECT *
		FROM PORTFOLIO p LEFT OUTER JOIN
		(SELECT pd.PORTFOLIO_DETAIL_ID as portfolio_detail_id, pd.PORTFOLIO_ID as
		portfolio_id, pd.PERCENTAGE as percentage, at2.`TYPE`
		FROM PORTFOLIO_DETAIL pd JOIN ASSET_TYPE at2
		ON pd.ASSET_TYPE_ID = at2.ASSET_TYPE_ID ) pd
		ON (p.portfolio_id = pd.PORTFOLIO_ID)
		WHERE user_id = #{user_id}
		AND p.portfolio_id = pd.portfolio_id
	</select>

	<select id="findAll" resultType="PortfolioDto">
		SELECT *
		FROM PORTFOLIO
	</select>

	<insert id="createPortfolio" parameterType="PortfolioDto">
		<selectKey resultType="string" keyProperty="portfolio_id" order="BEFORE">
	        SELECT MAX(PORTFOLIO_ID)+1 FROM PORTFOLIO        
	    </selectKey>		
		INSERT INTO PORTFOLIO
		(PORTFOLIO_ID, USER_ID, INVEST_TYPE, TARGET_PRICE, TARGET_PERIOD, CREATE_AT)
		VALUES(#{portfolio_id}, #{user_id}, #{invest_type}, #{target_price}, #{target_period}, #{create_at});
	</insert>


	<select id="getAsset" resultMap="assetResult" >
		SELECT U.USER_ID,  U.AGE , U.NAME  ,U.SALARY  
			,A.AMOUNT , B.TYPE as ASSET_TYPE
		FROM USER U left outer join HOLDINGS A on U.user_id = A.user_id 
			, ASSET_TYPE B
		WHERE A.asset_type_id  = B.asset_type_id	
	</select>
</mapper>