<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="com.example.portfolioservice.mapper.ProductMapper">
	<select id="getProduct" resultType="ProductDto" parameterType="java.util.HashMap">
		SELECT A.`type`   AS assetType
             , P.product_id AS productId
             , P.detail_type AS detailType
          FROM PRODUCTS P
             , ASSET_TYPE A 
         WHERE 1=1
           AND P.asset_type_id = A.asset_type_id
           AND P.asset_type_id IN
        <foreach collection="assetTypeIds" item="item" index="index" separator="," open="(" close=")">
    		#{item}
    	</foreach>
           AND P.group_id IN
    	<foreach collection="groupIds" item="item" index="index" separator="," open="(" close=")">
    		#{item}
    	</foreach> 
	</select>
</mapper>