apiVersion: apps/v1
kind: Deployment
metadata:
  name: api-gateway
  labels:
    app: api-gateway
spec:
  replicas: 1
  selector:
    matchLabels:
      app: api-gateway
  template:
    metadata:
      labels:
        app: api-gateway
    spec:
      containers:
      - name: api-gateway
        image: gojeasuk3/api-gateway:dev
        imagePullPolicy: Always
        ports:
        - containerPort: 8000
        env:
        - name: API_GATEWAY_PORT
          valueFrom:
            configMapKeyRef:
              name: paldo-config
              key: API_GATEWAY_PORT
        - name: SERVICE_DISCOVERY_PORT
          valueFrom:
            configMapKeyRef:
              name: paldo-config
              key: SERVICE_DISCOVERY_PORT